In [ ]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

In [10]:
emp_info={'Tom':{'email':'tom_latham019@gmail.com','Phone': +1987654321, 'City': 'California'},
        'Kathy':{'email':'kathy_abram897@gmail.com','Phone': +1887654321, 'City': 'New York'}}
print(emp_info['Tom'])
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [ ]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

In [17]:
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

a=dict(zip(emp_key,emp1_val))
b=dict(zip(emp_key,emp2_val))
c=dict(zip(emp_key,emp3_val))
print(a)
print(b)
print(c)

dict2={}
dict2[lst1[0]]=a
dict2[lst1[1]]=b
dict2[lst1[2]]=c
print(dict2)

{'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}
{'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}
{'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}
{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [3]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [8]:
sampleDict["class"]["student"]["marks"]["history"]

80

In [ ]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

In [11]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
dic={}
for i in range(len(employees)):
    dic[employees[i]]=defaults
print(dic)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [ ]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

In [29]:
dna=['A','T','C','G']
rna=['U','A','G','C']
dic={}
for i in range(len(dna)):
    dic[dna[i]]=rna[i]
print(dic)

def mRna_trans(inp1):
    output=""
    for j in inp:
        if j in dic:
            output=output+dic[j]
    return output

inp=input("Enter sequence of DNA ")
mRna_trans(inp)

{'A': 'U', 'T': 'A', 'C': 'G', 'G': 'C'}
Enter sequence of DNA CTATCGGCACCCTTTCAGCA

'GAUAGCCGUGGGAAAGUCGU'

In [ ]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [58]:
def convertword_dict(input):
    out={}
    for i in input:
        out[i]=input.count(i)
    print(out)

input2='google.com'
convertword_dict(input2)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

In [63]:
def compute_dna(input3):
    out={}
    for i in input3:
        out[i]=input3.count(i)
    print(out)

input2='CTATCGGCACCCTTTCAGCA'
convertword_dict(input2)

{'C': 8, 'T': 5, 'A': 4, 'G': 3}

In [ ]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.-- True. ALl the above assigns

In [37]:
d={}
d.setdefault("Name", "Tom")
d

{'Name': 'Tom'}

In [38]:
d={}
d.update({"Name": "Tom" })
d

{'Name': 'Tom'}

In [39]:

d={}
d["Name"] = "Tom"
d

{'Name': 'Tom'}

In [40]:
d={}
d = {"Name": "Tom" }
d

{'Name': 'Tom'}

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values() --true
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

In [32]:
d = {"a":1, "b":2}
d.values()

dict_values([1, 2])

In [ ]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) } --- not valid as keys cannot be mutable
# 4. d = { 1: 0.4 }
# 5. None of the above

In [ ]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

In [33]:
def reverselookup(dictionary,value):
    in2=[]
    for k,v in dictionary.items():
        if v ==value:
            in2.append(k)
    return in2
dicti={'a':1, 'b':2, 'c':2}
value=1
reverselookup(dicti,value)

['a']

In [34]:
dicti={'a':1, 'b':2, 'c':2}
value=2
reverselookup(dicti,value)

['b', 'c']

In [35]:
dicti={'a':1, 'b':2, 'c':2}
value=3
reverselookup(dicti,value)

[]

In [ ]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

In [98]:
def invertDict(in1):
    in2={}
    for i,j in in1.items():
        if j not in in2:
            in2[j]=[i]
        else:
            in2[j].append(i)
    return in2

inpt={'a':1, 'b':2, 'c':3, 'd':2}
invertDict(inpt)

{1: ['a'], 2: ['b', 'd'], 3: ['c']}

In [101]:
inpt={'a':3, 'b':3, 'c':3}
invertDict(inpt)

{3: ['a', 'b', 'c']}

In [100]:
inpt={'a':2, 'b':1, 'c':2, 'd':1}
invertDict(inpt)

{2: ['a', 'c'], 1: ['b', 'd']}

In [ ]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

In [102]:
def sparsevec_dict(in1):


    in2=[]
    in3=[]
    for i in range(len(in1)):
        if in1[i] !=0:
            in2.append(i)
    #print(in2)
    for i in range(len(in1)):
        if in1[i] !=0:
            in3.append(in1[i])
    #print(in3)
    in4=dict(zip(in2,in3))
    return in4

inp1=[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
sparsevec_dict(inp1)

{0: 1, 3: 2, 7: 3, 12: 4}

In [103]:
inp1=[1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0]
sparsevec_dict(inp1)

{0: 1, 2: 1, 4: 2, 6: 1, 9: 1}

In [104]:
inp1=[0, 0, 0, 0, 0]
sparsevec_dict(inp1)

{}

In [ ]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

In [42]:

def convertDictionary(inp1):
    l=[0,0,0,0,0,0,0,0,0,0,0,0,0]
    for k,v in inp1.items():
        for i in range(len(l)):
            if k==i:
                l[i]=v
    return l

inp2={0: 1, 3: 2, 7: 3, 12: 4}
convertDictionary(inp2)

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]

In [44]:
def convertDictionary(inp1):
    l=[0,0,0,0,0,0,0,0,0,0]
    for k,v in inp1.items():
        for i in range(len(l)):
            if k==i:
                l[i]=v
    return l

inp2={0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
convertDictionary(inp2)

[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]

In [45]:
def convertDictionary(inp1):
    l=[]
    for k,v in inp1.items():
        for i in range(len(l)):
            if k==i:
                l[i]=v
    return l

inp2={}
convertDictionary(inp2)

[]

In [ ]:
# Given a Python dictionary, Change Brad’s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

In [46]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary']=8500
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

In [54]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
l=[(i,j) for i,j in sampleDict.items()]
print(l)
output=l[0]
for eachele in l:
    if eachele < output:
        output=eachele
print(output[0])

[('Physics', 82), ('Math', 65), ('history', 75)]
Math

In [ ]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

In [50]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict.pop('city')
sampleDict

sampleDict["Location"]="New york"
sampleDict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

In [ ]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

In [55]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
200 in sampleDict.values()

True

In [ ]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

In [59]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}

sampleDict.pop("name")
sampleDict.pop("salary")
sampleDict

{'age': 25, 'city': 'New york'}