##### Q1 Declare a float value and store it in a variable.  Check the type and print the id of the same.

In [1]:
num1=23.4
print(type(num1))

<class 'float'>

In [3]:
print(id(num1))

1683643201008

##### Q2 Arithmetic Operations on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Find sum of both numbers
Find difference between them
Find the product of both numbers.
Find value after dividing first num with second number
Find the remainder after dividing first number with second number
Find the quotient after dividing first number with second number
Find the result of the first num to the power of the second number.

In [4]:
num2=20.0
num3=10.5
print(num2+num3) #sum

30.5

In [5]:
print(num2-num3) #difference

9.5

In [6]:
print(num2*num3) #multiplication

210.0

In [11]:
print(num2/num3) #division

1.9047619047619047

In [12]:
print(num2%num3) #remainder

9.5

In [13]:
print(num2//num3) #quotient

1.0

In [14]:
print(num2**num3) #power

45794672179195.695

#### Q3 Comparison Operators on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Compare these two numbers with below operator:-
Greater than, '>'
Smaller than, '<'
Greater than or equal to, '>='
Less than or equal to, '<='
Observe their output(return type should be boolean)

In [15]:
num4=5.2
num5=3.1
print(num4>num5) #greater than

True

In [16]:
print(num4<num5)  #smaller than

False

In [17]:
print(num4>=num5) #greater than or equal to

True

In [18]:
print(num4<=num5) #lesser than or equal to

False

#### Q4. Equality Operator
Take two different float values.
Store them in two different variables.
Equate them using equality operators (==, !=)
Observe the output(return type should be boolean)

In [19]:
num6=10.00
num7=20.00
print(num6==num7) #equality operator ==

False

In [20]:
print(num6!=num7) #equality operator !=

True

##### Q5 Logical operators
Observe the output of below code
Cross check the output manually

In [23]:
print(10.20 and 20.30) #both are true and second value taken Output is 20.3
print(0.0 and 20.30) #First is false so first value taken->Output is 0.0

20.3
0.0

In [22]:

print(20.30 and 0.0) #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0) #First is false so first value is taken->Output is 0.0
print(10.20 or 20.30) #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30) #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0) #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0) #Goes to till second and second is also false and second value is taken>Output is 0.0
print(not 10.20) #-Not of true is false->Output is False
print(not 0.0) #Not of false is True>Output is True

0.0
0.0
10.2
20.3
20.3
0.0
False
True

##### Q6 What is the output of expression inside print statement. Cross check before running the program.

In [27]:
a = 10.20
b = 10.20
print(a is b) #True or False? False 
print(a is not b) #True or False? True

## my ansswer: Id of float values are different when the same value is assigned to two different variables because interning does not apply to float numbers

False
True

#### Q7. Bitwise operation is not applicable between instances of float.
Why the Id of float values are different when the same value is
assigned to two different variables
ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same
Object reusability concept is not applicable on float values.

##### Q8  Membership operation in, not in are two membership operators and it returns boolean value

In [28]:
print('2.7' in 'Python2.7.8') #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j}) # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20)) # True

True
True
True
True
True
True